/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url("https://use.typekit.net/gqy1gcl.css");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url("https://use.typekit.net/gqy1gcl.css");
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Satisfy&display=swap');



body {
      background-color: white;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin-left: 12vw;
      margin-right: 12vw;
      /* -webkit-font-smoothing: antialiased; */
      /* -moz-osx-font-smoothing: grayscale; */
}


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1 {

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 500;
      color: #000;
}


h2 {
      font-family: 'times', serif;
      font-weight: 500;
      color: #000
}

h3 {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14pt;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 300;
      font-size: 14pt;
      line-height: 2rem;
}

h5 {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      display:inline-block;
}


p{
      display:block;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      /* font-family: 'lato'; */
      font-weight: 100;
      font-size: 14pt;
      /* color: #111; */
      font-weight: 350;
      line-height: 1.65em;
}

a{
      list-style-type: none;
      text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #929292;
      font-weight: 300;
}

ul li{
  display: inline-block;

}


/* ABOUT PAGE */

.m-aboutsection {
     display:block;
     margin-top: 10px;
     margin-bottom: 20px;
     width: 100%;
}

.a-bio-image{
  display: flex;
  width: 350px;
  height: 350px;
  background: #000000;
  margin-right: 75px;
  float: left;
  margin-top: 30px;

}

.a-text-bio {
    position:relative;
    display: flex;
    width: 450px;
    color: #000000;
}


/* NAVIGATION */

.o-navigation {
      display:inline-block;
      margin-top: 50px;
      margin-bottom: -20px;
      position: sticky;
      width: 100%;
      height: 75px;
}

.o-navigation h3{
  font-weight: 400;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;


}



.o-navigation-alt {
      display:inline-block;

      margin-top: 50px;
      margin-bottom: 25px;
      position: sticky;
      width: 100%;
      height: 75px;
}

#a-img-hamburger {
      float: right;
      max-width: 50px;
      height: 50px;
      margin-top: 10px

}

#a-img-hamburger:hover{
      background-color: #F4F4F4;
      transition: .3s ease-in-out;
}


#a-logo {
      text-align: left;
      max-width: 85px;
      float: left;
      height: 85px;
}

.a-logo-text{
        display:inline-block;
        list-style: inherit;
        height: 75px;
        margin-left: 10px;
        margin-top: 5px;
}


.m-navigation-links {
      display: inline-block;
      float: right;
      text-align: left;
}


.m-navigation-links a{
        float: left;
        color: #A5A5A5;

}

.m-navigation-links a:hover{
        color: #636363;
        /* color: #FF6F59; */
        /* color: #9e9e9e; */
}

#a-navitem-selected a{
        color: #41463D;
        list-style: none;

}

#a-navitem-selected {
 margin-top: 7px;
 text-align: right;
 width: 125px;
}

#a-navitem {
 margin-top: 7px;
 text-align: right;
  width: 125px;
}

#a-menu-icon {
  display: hidden;
  background: #000000;

}

.m-menu-links{
  float: right;
}



/* HEADLINE */

.a-text-headline{
      display: inline-block;
      text-align: left;
      /* line-height: 225%; */
}

.a-text-headline h3{
  font-weight: 500;
  font-size: 1.25em;
  color: #000;
}



.a-more-text{
      display: inline-block;
      /* margin-bottom: 5%; */
      text-align: left;
      line-height: 4vw;
      margin-top: -1.0em;
}

.a-more-text p{
    color: #666
}

.a-more-text ul{
  display:block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-family: 'lato'; */
  font-weight: 100;
  font-size: 14pt;
  color: #666;
  font-weight: 350;
  line-height: 1.65em;

}


.a-text-headline-small{
      display: inline-block;
      color: #333;
      text-align: left;
}

.a-text-headline-small h3{
      font-weight: 500;
      font-size: 1.25em;
      color: #000;
}

/* HOVER EFFECTS */

a:hover{
      color: #232A2F;
}

.a-text-headline a:hover {
      color: #FF6F59;
}

.m-navigation img{
      display: inline-block;
      text-align: left;
      max-width: 10%;
}


.a-navigation-two:hover ~ .a-underline{
  margin-left: 50%;
}

.toggler{

right: 0;
}


/* CONTENT */

 .m-casestudies {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
      grid-gap: 15px;
      margin-top: 10px;
      margin-bottom: 20px;
}

.box1 {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: inherit;
    font-size: 14pt;
    font-family: 'lato';
}

.box2 {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    float: right;
    font-size: 14pt;
    font-family: 'lato';
}

.box3 {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    float: right;
    font-size: 14pt;
    font-family: 'lato';
}

.box4 {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    float: right;
    font-size: 14pt;
    font-family: 'lato';
}

.box5 {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    float: right;
    font-size: 14pt;
    font-family: 'lato';
}

.box6 {
    position: relative;
    width: 100%;
    height: 250px;
    display: inline-block;
    float: right;
    font-size: 14pt;
    font-family: 'lato';
}

.image {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .6s ease;
    background-color: #FF6F59;
    /* background-color: #666; */
    text-align: center;
}

.overlayFade{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
  }

.box1:hover .overlay, .box1:hover .overlayFade{
    opacity: 1;
}

.box2:hover .overlay, .box2:hover .overlayFade{
    opacity: 1;
}

.box3:hover .overlay, .box3:hover .overlayFade{
    opacity: 1;
}

.box4:hover .overlay, .box4:hover .overlayFade{
    opacity: 1;
}

.box5:hover .overlay, .box5:hover .overlayFade{
    opacity: 1;
}

.box6:hover .overlay, .box5:hover .overlayFade{
    opacity: 1;
}



/*HEADER*/

.m-menu-links {
    float: right;
  }

label {
    /* margin: 0 40px 0 0; */
    font-size: 26px;
    line-height: 70px;
    /* display: none; */
    width: 26px;
    float: right;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    top:0px;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

#toggle {
  display: none;
}

label {
    display: block;
    cursor: pointer;
}

.menu {
    background-color: white;
    text-align: center;
    width: 75vw;
    display: none;
}

.menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    clear: top;
}

#toggle:checked + .menu {
    display: block;
    margin-top: 0;
}



@media only screen and (max-width: 900px) {
  .bio {
    position: relative;
    height: auto;
    display: inline;
    float: left;
    column-count: 1;
    column-gap: 30px;
    /* background-color: #75ffa6; */
    /* padding: 5%; */
  }
}

.bio h2{
    color: #12271A;
    font-weight: 500;
    font-size: 12pt;
}

/* FOOTER */
footer {
    clear:left;
    height: 200px;
    margin-top: 50px;
}

footer h5{
  margin-left: 20px;
}


/* MODAL SECTION */

.modal-bg {

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7))
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
